.info-section {
    background-color: #f8f9fa; /* Adjust the color as necessary */
}

.info-item {
    padding: 20px;
    margin-top: 30px;
}

.info-item i {
    margin-bottom: 20px;
    color: #37b6ff; /* Adjust the color to match your theme */
}

.info-item h3 {
    color: #121212; /* Adjust the color to match your theme */
}

.info-section p{
    font-size: 18px;
}