header nav {
    background-color: #121212;
    box-shadow: 0px 0px 15px 0px #141414;
}

header .nav-link{
    color:#fff
}

/* Show the dropdown on hover */
@media (min-width: 992px) { /* Adjust this breakpoint to suit your needs */
    .navbar .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* Optional: Change the dropdown link color on hover */
.navbar .nav-item.dropdown:hover > .nav-link {
    color: #fff;
}

.navbar img{
    width:42px;
}