.services {
    background-color: #f8f9fa; /* Light gray background to match body */
}

.service-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.service-card:hover {
    transform: scale(1.05); /* Slight scale effect on hover */
}

.title-icon-wrapper {
    display: flex;
    align-items: center; /* Vertically centers the icon and text */
    gap: 10px; /* Optional: adds space between the icon and the text */
}

.card-title {
    margin-bottom: 0; /* Optionally remove margin for better alignment */
    margin-top:8px;
    padding-left:8px
}


.title-icon-wrapper i{
    color: #37b6ff;
}

.img-fluid{
box-shadow: 0px 0px 25px 0px #242424;
margin-top:12px;
}

.centered-title h1 {
margin-top: 0;
margin-bottom: 0; /* Adjust based on your design */

}

.centered-title i {
/* Optionally, adjust styling for the icon here */
color:#37b6ff;
}

.centered-title {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the child elements horizontally */
}

.service-card img{
    height:150px;
    width: auto;
    border-radius: 10px 10px 10px 10px;
    align-items: center; 
}

.image-container {
    text-align: center; /* Centers the image */
}

.card-body{
    height:35vh;
}

@media (max-width: 767px) {
    .card-body {
        height:40vh;
    }
}